ijJiMuRjVsktTA90-AI_Agent_workflow_copy.json
{
  "name": "AI Agent workflow copy",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        -16,
        768
      ],
      "id": "65f55d2e-7f37-4025-bdd2-7bc231f24b8a",
      "name": "Get Tech News"
    },
    {
      "parameters": {
        "toolDescription": "Reads the news",
        "url": "=https://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        112,
        768
      ],
      "id": "0b742747-b751-4a67-8c99-b05fd2fbfc3d",
      "name": "Get World News"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        752
      ],
      "id": "b4d6caf4-624f-42d4-83ea-1dc56a23df9d",
      "name": "Run every day at 7AM",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "85b5c530-2c13-4424-ab83-05979bc879a5",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        544
      ],
      "id": "3b80407e-dd83-420b-bcdc-4a55c5cffecb",
      "name": "Output",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        544
      ],
      "id": "80058158-2f87-4865-a280-c9a8c3f8e68a",
      "name": "Click ‘Execute workflow’ to run"
    },
    {
      "parameters": {
        "content": "## ⚡ Start here:",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        480
      ],
      "id": "e5b41a5d-e131-4d1f-813c-ebdc23485051",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -272,
        768
      ],
      "id": "c0976ddb-9ab2-4373-8db0-8e024cca764f",
      "name": "OpenAI Model",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "GCQoEukUnaQ4p2pm",
          "name": "n8n free OpenAI API credits"
        }
      },
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "@[youtube](cMyOkQ4N-5M)",
        "height": 512,
        "width": 902,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -96
      ],
      "id": "57673405-c80f-42b9-8b0c-5160b94b5d42",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize world news and tech news from the last 24 hours. \nSkip your comments. \nThe titles should be \"World news:\" and \"Tech news:\" \nToday is {{ $today }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -272,
        544
      ],
      "id": "e6d360e2-5152-416e-94a9-e254d85ab44d",
      "name": "AI Summary Agent",
      "notesInFlow": true,
      "notes": "Double-click to open"
    },
    {
      "parameters": {
        "content": "### Double click here to see the results:",
        "height": 240,
        "width": 192,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        464
      ],
      "id": "7551a92c-fe06-4be0-a8cd-936ef0a2fa44",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 📰 Daily AI Summary\n\n\nThis workflow gets the latest news and asks AI to summarize it for you.\n\n⭐ Bonus: Send the summary via email by connecting your Gmail account\n\n▶ Watch the video to get started ",
        "height": 272,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        32
      ],
      "id": "831c5b9e-e5b6-4f17-a28e-1d574248f20a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "sendTo": "44234ashish@gmail.com",
        "subject": "Your news daily summary",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {},
        "path": "d1f09473-9fc4-438e-8736-c6e8549dc524"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        544
      ],
      "id": "c5ba9335-d408-4a26-b13e-acfe5d52515c",
      "name": "Send summary by email",
      "webhookId": "d1f09473-9fc4-438e-8736-c6e8549dc524",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "ZvgAW6APg8obFbVx",
          "name": "Gmail account"
        }
      },
      "notes": "Double-click to open"
    }
  ],
  "connections": {
    "Get Tech News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get World News": {
      "ai_tool": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run every day at 7AM": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click ‘Execute workflow’ to run": {
      "main": [
        [
          {
            "node": "AI Summary Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summary Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summary Agent": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Send summary by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateId": "ready-to-run-ai-workflow-v2",
    "templateCredsSetupCompleted": true
  }
}