Resume Skill Matcher.json
{
  "name": "Resume Matcher - Capstone Demo (Stable)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "560af7be-18d1-4180-9d2f-5a889f977214",
      "name": "Resume Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -784,
        144
      ],
      "webhookId": "d93ef523-0a95-4e78-88f5-484198ae2143"
    },
    {
      "parameters": {
        "jsCode": "const base64 = $json.body.fileBase64;\nconst fileName = $json.body.fileName || \"resume.pdf\";\n\nif (!base64) {\n  throw new Error(\"fileBase64 is missing\");\n}\n\nconst buffer = Buffer.from(base64, \"base64\");\n\n// Detect file type\nlet mimeType = \"application/pdf\";\n\nif (fileName.toLowerCase().endsWith(\".txt\")) {\n  mimeType = \"text/plain\";\n}\n\nreturn [{\n  binary: {\n    data: {\n      data: buffer,\n      mimeType: mimeType,\n      fileName: fileName\n    }\n  }\n}];"
      },
      "id": "3260bca0-7a04-4c75-be4c-84047220e798",
      "name": "Convert Base64 to Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        144
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "84da14e7-2ab9-4145-9d74-574fbe4a4469",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -192,
        48
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "resumeText",
              "stringValue": "=={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "df91c231-1523-4586-b6af-dc1f9150b43c",
      "name": "Set Resume Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        192,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all().map(item => item.json);\n\n// sort highest match first\nallResults.sort((a, b) => b.match_percentage - a.match_percentage);\n\n// take top 4\nconst top4 = allResults.slice(0, 4);\n\nreturn [{\n  json: {\n    total_jobs_analyzed: allResults.length,\n    top_matches: top4\n  }\n}];"
      },
      "id": "ec3eebed-be0e-4a7b-a82b-8181fd221dc9",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "c636dde4-0d15-4462-afce-ecac7dbd97d8",
      "name": "Return Results",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        944,
        144
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const stopWords = [\"with\",\"and\",\"the\",\"for\",\"using\",\"looking\",\"experience\",\"knowledge\"];\n\nconst resume = $json.resumeText.toLowerCase();\nconst jobTitle = $json.title;\nconst jobDescription = $json.description.toLowerCase();\n\nconst keywords = jobDescription\n  .replace(/[^a-zA-Z0-9 ]/g, \"\")\n  .split(\" \")\n  .filter(word => word.length > 3 && !stopWords.includes(word));\n\nconst uniqueKeywords = [...new Set(keywords)];\n\nlet matched = [];\nlet missing = [];\n\nuniqueKeywords.forEach(keyword => {\n  if (resume.includes(keyword)) {\n    matched.push(keyword);\n  } else {\n    missing.push(keyword);\n  }\n});\n\nlet percentage = Math.round((matched.length / uniqueKeywords.length) * 100);\n\nif (percentage > 95) percentage = 95;\nif (percentage < 10) percentage = 10;\n\nlet assessment = \"Moderate fit\";\n\nif (percentage >= 75) {\n  assessment = \"Strong candidate - recommend interview\";\n} else if (percentage >= 50) {\n  assessment = \"Potential fit - recommend phone screen\";\n} else {\n  assessment = \"Limited match - consider skill improvement\";\n}\n\nreturn {\n    job_title: jobTitle,\n    match_percentage: percentage,\n    required_skills_present: matched.slice(0, 6),\n    skill_gaps: missing.slice(0, 6),\n    overall_assessment: assessment\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        144
      ],
      "id": "9a90f39d-d58b-414e-8600-0adbe0b909e8",
      "name": "Simulated AI Match"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b07ad6d-2867-45e0-96fe-f71d98b2635c",
              "leftValue": "={{$binary.data.mimeType}}",
              "rightValue": "=application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -416,
        144
      ],
      "id": "3ad3c9d8-054d-4471-8f3a-f635da8c33f1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        240
      ],
      "id": "339cd9a4-0262-4ef0-b6d0-7aaa257f2ca2",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        144
      ],
      "id": "6b097c4b-6fe2-4066-9492-fda08f1d5271",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const resumeText = $json.resumeText;\n\nconst jobs = [\n  {\"title\":\"Machine Learning Engineer\",\"description\":\"Python machine learning TensorFlow PyTorch pandas numpy modeling\"},\n  {\"title\":\"Software Engineer\",\"description\":\"JavaScript Python REST APIs microservices cloud Git testing\"},\n  {\"title\":\"Frontend Developer\",\"description\":\"HTML CSS JavaScript React Vue UI UX responsive design\"},\n  {\"title\":\"Backend Developer\",\"description\":\"Node.js Express REST APIs authentication MongoDB SQL caching\"},\n  {\"title\":\"Data Analyst\",\"description\":\"SQL Excel PowerBI Tableau statistics reporting visualization\"},\n  {\"title\":\"DevOps Engineer\",\"description\":\"Docker Kubernetes CI CD Jenkins AWS Linux scripting\"},\n  {\"title\":\"Cybersecurity Analyst\",\"description\":\"network security firewalls encryption penetration testing SIEM\"},\n  {\"title\":\"Cloud Engineer\",\"description\":\"AWS Azure GCP cloud infrastructure Terraform deployment\"},\n  {\"title\":\"Full Stack Developer\",\"description\":\"React Node MongoDB APIs frontend backend integration\"},\n  {\"title\":\"AI Engineer\",\"description\":\"NLP transformers deep learning LLM training experimentation\"},\n  {\"title\":\"Mobile Developer\",\"description\":\"Flutter React Native Android iOS mobile UI development\"},\n  {\"title\":\"QA Engineer\",\"description\":\"manual testing automation Selenium Cypress debugging\"},\n  {\"title\":\"Database Administrator\",\"description\":\"SQL indexing performance tuning backup recovery\"},\n  {\"title\":\"System Engineer\",\"description\":\"Linux networking troubleshooting monitoring configuration\"},\n  {\"title\":\"UI Designer\",\"description\":\"Figma Adobe XD wireframes prototyping design systems\"},\n  {\"title\":\"Product Manager\",\"description\":\"Agile Scrum roadmap planning stakeholder communication\"},\n  {\"title\":\"Business Analyst\",\"description\":\"requirements documentation process analysis UML stakeholder\"},\n  {\"title\":\"Blockchain Developer\",\"description\":\"Solidity Ethereum smart contracts web3 decentralized cryptography\"},\n  {\"title\":\"Game Developer\",\"description\":\"Unity Unreal C# game physics rendering optimization\"},\n  {\"title\":\"Research Engineer\",\"description\":\"algorithms research experimentation optimization simulation\"}\n];\n\nreturn jobs.map(job => ({\n  json: {\n    title: job.title,\n    description: job.description,\n    resumeText: resumeText\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        144
      ],
      "id": "6a4a73b5-cd62-4afb-91ce-4687d40ffbac",
      "name": "Generate Jobs"
    }
  ],
  "pinData": {},
  "connections": {
    "Resume Upload Webhook": {
      "main": [
        [
          {
            "node": "Convert Base64 to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Base64 to Binary": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Resume Text": {
      "main": [
        [
          {
            "node": "Generate Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulated AI Match": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Jobs": {
      "main": [
        [
          {
            "node": "Simulated AI Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2f13dffb-eebc-4082-8b89-97130930a4aa",
  "meta": {
    "instanceId": "bce6dfbd96a33f5f1a33621c977fde1d1ac7052a5228e08909efa7f00410b887"
  },
  "id": "VBCoTs49BK2rrSwy",
  "tags": []
}
